/*.contact-info>div:first-child {
    border-bottom: solid 1px #333333;
}*/
.info-name {
    font-size: 25px;
    margin-bottom: 5px;
}

.btn.btn-primary, button.dt-button, div.dt-button, a.dt-button {
    background-color: transparent;
    border: 1px solid #f0f0f0;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}

table.dataTable.row-border tbody th, table.dataTable.row-border tbody td, table.dataTable.display tbody th, table.dataTable.display tbody td {
    border-left: 1px solid rgba(34, 36, 38, .1);
}

.btn.btn-primary:hover {
    background-color: #eeeeee;
    opacity: 0.7;
}

.btn {
    border: 0;
    border-radius: 290px;
    font-family: 'Helvetica Neue', 'Nanum Gothic', Arial, sans-serif;
}

table.dataTable thead tr:first-child th, table.dataTable thead tr:first-child td {
    text-align: center;
    border-left: 1px solid rgba(55, 55, 55, 0.1);
    background-color: rgba(111, 33, 44, 0.1);
}

table.dataTable thead tr:first-child th:first-child {
    text-align: left;
    vertical-align: middle;
    background-color: rgba(0, 0, 0, 0.0);

}

.dataTables_wrapper .dataTables_filter input {
    margin: 5px;
    max-width: 100%;
    -webkit-box-flex: 1;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
    outline: 0;
    -webkit-tap-highlight-color: rgba(255,255,255,0);
    text-align: left;
    line-height: 1.21428571em;
    padding: .67857143em 1em;
    background: #fff;
    border: 1px solid rgba(34,36,38,.15);
    color: rgba(0,0,0,.87);
    border-radius: .28571429rem;
    -webkit-transition: box-shadow .1s ease,border-color .1s ease;
    transition: box-shadow .1s ease,border-color .1s ease;
    box-shadow: none;
}