/*.contact-info>div:first-child {
    border-bottom: solid 1px #333333;
}*/

/*디폴트 셋팅*/
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, p, blockquote, th, td, button, input {
    border: 0;
    padding: 0;
    margin: 0;
    font-family: "Nanum", "나눔고딕", "맑은고딕", "malgun gothic", "AppleGothic", "돋움", "dotum", Helvetica, Arial, sans-serif;
}

body {
    font-size: 13px;
    font-family: "Nanum", "나눔고딕", "맑은고딕", "malgun gothic", "AppleGothic", "돋움", "dotum", Helvetica, Arial, sans-serif;
    line-height: 150%;
    color: #666;
}

.content-area ol, ul {
    list-style: none
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

.info-name {
    font-size: 25px;
    margin-bottom: 5px;
}

.btn.btn-primary, button.dt-button, div.dt-button, a.dt-button {
    /*background-color: transparent;*/
    /*border: 1px solid #f0f0f0;*/
    background: #fff;
    border: 1px solid rgba(34, 36, 38, .15);
    color: rgba(0, 0, 0, .87);
    border-radius: .28571429rem;
    -webkit-transition: box-shadow .1s ease, border-color .1s ease;
    transition: box-shadow .1s ease, border-color .1s ease;
    box-shadow: none;
}
a.dt-button[title='hotkey : g']{
    position: absolute;
    top: -30px;
    right: 100px;


}
#org_data {
    cursor: pointer;
}
#logout_btn {
    background-color: transparent;
}
table.dataTable.row-border tbody th, table.dataTable.row-border tbody td, table.dataTable.display tbody th, table.dataTable.display tbody td {
    border-left: 1px solid rgba(34, 36, 38, .1);
}

.btn.btn-primary:hover {
    background-color: #eeeeee;
    opacity: 0.7;
}

.btn {
    border: 0;
    border-radius: 290px;
    font-family: 'Helvetica Neue', 'Nanum Gothic', Arial, sans-serif;
}

.selectpicker {
    float: left;
}

.dt-center .selectpicker {
    float: none;
}

.dt-right .selectpicker {
    float: right;

}

table.dataTable thead tr:first-child th:nth-child(2), table.dataTable tfoot th, table.dataTable tfoot td {
    text-align: center;
    vertical-align: middle;
    background-color: #36333d;
    color: #fff;
}

table.dataTable thead tr:first-child th:nth-child(2), table.dataTable tfoot th, table.dataTable tfoot td {
    padding-left: 0;
    padding-right: 0;
    text-align: center;
}

th.dt-center, td.dt-center {
    text-align: center;
}

table.dataTable thead tr:first-child th:nth-child(2), table.dataTable tfoot th, table.dataTable tfoot td select {
    padding-left: 2px;
    text-align: center;
}

.dataTables_wrapper .dataTables_filter input {
    margin: 5px;
    max-width: 100%;
    -webkit-box-flex: 1;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
    outline: 0;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    text-align: left;
    line-height: 1.21428571em;
    padding: .67857143em 1em;
    background: #fff;
    border: 1px solid rgba(34, 36, 38, .15);
    color: rgba(0, 0, 0, .87);
    border-radius: .28571429rem;
    -webkit-transition: box-shadow .1s ease, border-color .1s ease;
    transition: box-shadow .1s ease, border-color .1s ease;
    box-shadow: none;
}

.dialog-left, .dialog-right {
    height: 100%;

}

.dialog-timeStamp {
    float: right;
}

.dialog-right {
    float: right;
    width: 70%;
    overflow-y: auto;
}

.dialog-left {
    float: left;
    width: 30%;
    overflow-y: hidden;

}

#txData {
    width: 95%;
    overflow-y: auto;
    overflow-x: auto;
    word-break: break-all;
    word-wrap: break-word;
    margin: 0 auto;
    display: block;
}

select {
    background-color: midnightblue;
    color: white;
    cursor: pointer;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    transition: all .35s;
    border: none;
}

.ui-draggable .ui-dialog-titlebar {
    cursor: move;
    /*background: #c4ffc1;*/
    background: #36333d;
    color: #fff;
}

.badge-dark div {
    display: inline-block;
    color: white;
    background-color: rgb(54, 51, 61);
    padding: 3px 10px;
    font-weight: 600;
    margin: 5px 5px;
    border-radius: 5px;
}

.dataTables_wrapper .dataTables_scroll div.dataTables_scrollBody > table > thead > tr > th, .dataTables_wrapper .dataTables_scroll div.dataTables_scrollBody > table > thead > tr > td, .dataTables_wrapper .dataTables_scroll div.dataTables_scrollBody > table > tbody > tr > th, .dataTables_wrapper .dataTables_scroll div.dataTables_scrollBody > table > tbody > tr > td {
    font-weight: 600;
    color: black;
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: rgba(0, 0, 0, 0.02);
}

.cube-container, .batch-container {
    /*width: 100%;*/
    /*overflow-x: auto;*/
    /*overflow-y: scroll;*/
    padding: 0 20px;
    background-color: #fff;

}

.cube-field-value {
    text-align: right;
}

.cube-field-offset {
    text-align: center;

}

 .table-basic {
    clear: both;
    overflow: hidden;
    margin-bottom: 30px;
    border-bottom: 1px solid #424242;
    position: relative;
}

.table-basic table {
    width: 100%;
    box-sizing: border-box;
}

.table-basic table thead th {
    padding: 12px 0 11px 0;
    border-right: 1px solid #e0e0e0;
    border-bottom: 1px solid white;
    background: #36333d;
    text-align: center;
    color: white;
}

.text-center .table-basic table tbody th {
    text-align: center;
}

.table-basic table tbody th {
    background: #fafafa;
    border-top: 1px solid #e0e0e0;
    border-right: 1px solid #e0e0e0;
    text-align: left;
    color: #5e5e5e;
    white-space: nowrap;
    padding: 9px 0 8px;
    max-width: 300px;
    overflow-x: auto;
}

.table-basic table td {
    padding: 9px 12px 8px;
    border-top: 1px solid #e0e0e0;
    border-right: 1px solid #e0e0e0;
    text-overflow: ellipsis;
    background: #fff;
    white-space: initial;
}

.table-basic table th:last-child,
.table-basic table td:last-child {
    border-right: none;
}

.table-basic table tbody tr:hover td {
    background: #f2fbfe;
}

.table-horizontal table tbody th {
    background: #36333d;
    border-right: none;
    text-align: left;
    padding: 12px 20px 11px;
    color: #5e5e5e;
}

.table-horizontal table td {
    border-right: none;
    text-align: left;
}

.cube-field-value-box {
    white-space: pre; /* css-3 */
    white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
    white-space: -o-pre-wrap; /* Opera 7 */
    word-wrap: break-word; /* Internet Explorer 5.5+ */
    word-break: break-all; /* Internet Explorer 5.5+ */
    /*background-color: #c4ffc1;*/
    background-color: #36333d;
    color: #fff;
    overflow-y: auto;
    padding: 5px 2px;
    max-width: 150px;
    overflow-x: auto;
    display: inline-block;
    vertical-align: middle;
    max-height: 30px;
}

.form-group input {
    width: 100%;
    padding: 0.5em 5px;
    margin: .5rem 5px;
    font-size: 0.7rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-image: none;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.fa-2 {
    font-size: 1.2em;
}

select::-ms-expand {
    display: none;
}

select {
    width: 80px;
    padding: .2em .1em; /* 여백으로 높이 설정 */
    font-family: inherit; /* 폰트 상속 */
    border: 2px solid rgba(10, 10, 10, 0.01);
    border-radius: 0; /* iOS 둥근모서리 제거 */
    -webkit-appearance: none; /* 네이티브 외형 감추기 */
    -moz-appearance: none;
    -o-appearance: none;
    appearance: none;
    color: #000;
    /*background-color: #36333d;*/
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    cursor: alias;
    background: url('/image/arrow.png') no-repeat 95% 50%; /* 네이티브 화살표를 커스텀 화살표로 대체 */

}

#search_sel, #batch_search_sel {
    padding: 0 20px;
    display: block;
    position: absolute;
    top: -30px;
    right: 10px;
    max-width: 220px;
    height: 30px;
    font-size: 14px;
    line-height: 1.5;
    color: #eee;
    background-color: #36333d;
    border: 1px solid #36333d;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.form-group {
    margin: 0;
    padding: 0 20px;
}

#cubeInfo {
    background-color: white;
    /*position: relative;*/
    /*top: 50px;*/
    /*z-index: 1;*/
}

/* 헤더*/

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, p, blockquote, th, td, button, input {
    border: 0;
    padding: 0;
    margin: 0;
    font-family: "Nanum", "나눔고딕", "맑은고딕", "malgun gothic", "AppleGothic", "돋움", "dotum", Helvetica, Arial, sans-serif;
}

.sunghee-row {
    margin: 0 auto;
    zoom: 1;
}

.sunghee-secondary-header {
    min-height: 43px;
    border-bottom: 1px solid transparent;
}

.sunghee-secondary-header, .sticky-header .sticky-shadow, .tfs-slider .slide-content, .header-v4 #small-nav, .header-v5 #small-nav, .sunghee-footer-copyright-area, .sunghee-footer-widget-area, #slidingbar, .sunghee-page-title-bar {
    padding-left: 30px;
    padding-right: 30px;
}

.sunghee-secondary-header {
    background-color: #FFB2AF;
    font-size: 12px;
    color: #ffffff;
    border-bottom-color: #e5e5e5;
}

.sunghee-secondary-header {
    min-height: 35px;
}

.sunghee-header-wrapper .sunghee-row {
    padding-left: 0;
    padding-right: 0;
    max-width: 1000px;
}

.sunghee-alignright {
    display: inline;
    float: right;
    margin-left: 15px;
}

.sunghee-secondary-header .sunghee-alignright {
    float: right;
    margin-left: 0;
}

.sunghee-secondary-header a, .sunghee-secondary-header a:hover {
    color: #ffffff;
}

.sunghee-secondary-menu > ul > li > a {
    display: block;
    position: relative;
    padding: 0 8px;
}

.sunghee-secondary-menu > ul > li > a {
    height: 44px;
    line-height: 44px;
}

.sunghee-secondary-menu > ul > li > a {
    height: 35px;
    line-height: 35px;
}

/*메인메뉴*/
.sunghee-main-menu > ul > li > a {
    font-weight: bold;
    font-size: 16px;
    font-family: 'NanumBold', serif;
}

.sunghee-main-menu > ul > li > a {
    font-family: MuseoSlab500Regular, arial, helvetica, sans-serif;
}

.sunghee-main-menu a {
    display: block;
    box-sizing: content-box;
}

.sunghee-main-menu .current_page_item > a, .sunghee-main-menu .current-menu-item > a, .sunghee-main-menu .current-menu-parent > a, .sunghee-main-menu .current-menu-ancestor > a {
    color: #a0ce4e;
    border-color: #a0ce4e;
}

.sunghee-main-menu > ul > li > a {
    border-top: 3px solid transparent;
    height: 78px;
    line-height: 78px;
    font-family: 'Antic Slab', Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #333333;
    letter-spacing: 0;
}

.sunghee-main-menu a {
    display: block;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
}

.sunghee-main-menu .current_page_item > a, .sunghee-main-menu .current-menu-item > a, .sunghee-main-menu .current-menu-parent > a, .sunghee-main-menu .current-menu-ancestor > a {
    color: #a0ce4e;
    border-color: #a0ce4e;
}

.sunghee-row {
    margin: 0 auto;
    zoom: 1;
}

.sunghee-header-wrapper .sunghee-row {
    padding-left: 0;
    padding-right: 0;
    max-width: 1000px;
}

.sunghee-header .sunghee-row {
    padding-top: 0;
    padding-bottom: 0;
}

body {
    background-color: rgba(48, 47, 45, 0.12);
}

.sunghee-logo {
    margin-top: 0;
    background-color: rgba(54, 51, 61, 0.9);
    margin-bottom: 5px;
    padding: 5px 5% 5px 10px;
    height: 45px;
}

.sunghee-logo span {
    /*color: #fff;*/
    /*font-weight: 600;*/
    /*font-family: Arial, Helvetica, sans-serif;*/
    /*font-size: 35px;*/
    float: right;
}

.sunghee-logo span div {
    display: inline-block;
    color: white;
    font-weight: 800;
    font-size: 15px;

}

#logout_btn {
    font-size: 14px;
    margin-bottom: 2px;
    border: none;
    cursor: pointer;
}

.dt-buttons, #cubeTable_filter, #batchTable_filter {
    padding: 5px;
}

#cubeTable tbody tr {
    cursor: pointer;
}

.dataTables_info {
    padding-top: 0;
    position: absolute;
}

#stimedatepicker, #etimedatepicker, #sdatepicker, #edatepicker {
    font-size: 12px;
    font-weight: 600;
    padding-left: 10px;
}

.hasDatepicker {
    min-width: 120px;
}

table.dataTable tbody > tr.selected, table.dataTable tbody > tr > .selected {
    background-color: rgba(155, 155, 155, 0.2);
}

table.dataTable.hover tbody > tr.selected:hover, table.dataTable.hover tbody > tr > .selected:hover, table.dataTable.display tbody > tr.selected:hover, table.dataTable.display tbody > tr > .selected:hover {
    background-color: rgba(155, 155, 155, 0.5);
}

/* Login Modal*/

.modal-header {
    min-height: 16.43px;
    padding: 15px;
    border-bottom: 1px solid #e5e5e5;
}

.line_none {
    border-bottom: none;
}

.modal-content {
    -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
    box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
}

#login_dialog div {
    display: block;
}

.title_Type {
    font-family: Questrial, "Nanum Gothic", "Helvetica Neue", Arial, sans-serif;
    line-height: 1.1;
    text-align: center;
    font-size: 40px;
    margin-top: 5px;
    color: rgb(32, 32, 32);
    font-weight: bold;
    padding-top: 5px;
    /*margin-bottom: 16px;*/
}

.subtitle_Type_mb50 {
    color: rgb(121, 120, 115);
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 50px;
    text-align: center;
    line-height: 1.1;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
    display: block;
}

#login_btn {
    color: black;
    float: right;
}

.btn-group {
    width: 100%;
    height: 60px;
    padding: 10px;

}

.btn-group > .btn:last-child:not(:first-child), .btn-group > .dropdown-toggle:not(:first-child) {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.btn, .ui-dialog-titlebar-close, .ui-dialog-buttonset button {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

.btn {
    border: 0;
    border-radius: 290px;
    font-family: 'Helvetica Neue', 'Nanum Gothic', Arial, sans-serif;
}

.btn-group > label {
    background: gainsboro;
}

.btn-group-vertical > .btn, .btn-group > .btn {
    position: relative;
    float: left;
}

.btn.active, .btn:active {
    background-image: none;
    outline: 0;
    -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
}

.btn-info.active, .btn-info.focus, .btn-info:active, .btn-info:focus, .btn-info:hover, .open > .dropdown-toggle.btn-info {
    color: #fff;
    background-color: #31b0d5;
    border-color: #269abc;
}

.btn-info.active, .btn-info:active, .open > .dropdown-toggle.btn-info {
    background-image: none;
}

.btn-group-vertical > .btn, .btn-group > .btn {
    position: relative;
    float: left;
}

.btn-group-vertical > .btn.active, .btn-group-vertical > .btn:active, .btn-group-vertical > .btn:focus, .btn-group-vertical > .btn:hover, .btn-group > .btn.active, .btn-group > .btn:active, .btn-group > .btn:focus, .btn-group > .btn:hover {
    z-index: 2;
}

.btn-group > .btn:first-child {
    margin-left: 0;
}

.btn-group > .btn:first-child:not(:last-child):not(.dropdown-toggle) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.btn-group .btn + .btn, .btn-group .btn + .btn-group, .btn-group .btn-group + .btn, .btn-group .btn-group + .btn-group {
    margin-left: -1px;
}

.btn-info:not([disabled]):not(.disabled).active, .btn-info:not([disabled]):not(.disabled):active, .show > .btn-info.dropdown-toggle {

    box-shadow: none;
}

input[type=checkbox], input[type=radio] {
    margin: 4px 0 0;
    margin-top: 1px \9;
    line-height: normal;
}

[data-toggle=buttons] > .btn input[type=checkbox], [data-toggle=buttons] > .btn input[type=radio], [data-toggle=buttons] > .btn-group > .btn input[type=checkbox], [data-toggle=buttons] > .btn-group > .btn input[type=radio] {
    position: absolute;
    clip: rect(0, 0, 0, 0);
    pointer-events: none;
}

.btn-group, .btn-group-vertical {
    display: inline;
    vertical-align: middle;
}

.child-row {
    background-color: rgba(255, 215, 155, 0.4);
}

.child-cube tbody tr > td {
    text-align: left;
}

.child-cube tbody tr td {
    text-align: center;
}

.ui-dialog-titlebar-close:after {
    content: '×'; /* UTF-8 symbol */
}

[class*='-close'] {
    font: 14px/100% arial, sans-serif;
    background: #36333d;
    color: #fff;
    font-weight: 800;
    position: absolute;
    right: 5px;
    text-decoration: none;
    text-shadow: 0 1px 0 #fff;
    top: 5px;
}

.type-sel {
    padding-top: 8px;
}

table.dataTable thead tr:first-child th {
    border-right: 1px solid rgba(255, 255, 255, 0.5);

}

table.dataTable thead tr:last-child th {
    border-right: 1px solid rgba(54, 51, 61, 0.1);

}

table.dataTable thead tr:first-child th, table.dataTable thead tr:first-child td {
    text-align: center;
    background-color: #36333d;
    color: #fff;
}
.btn-info.active, .btn-info.focus, .btn-info:active, .btn-info:focus, .btn-info:hover, .open > .dropdown-toggle.btn-info {
    background-color: midnightblue;
}